{% include "modern_normalize" %}

body {
	margin: 0;
}

article {
	padding: 0 2em 1em;
	overflow-x: hidden;
}

code {
	font-size: 90%;
	display: inline-block;
	padding: .2em .4em;
}

blockquote {
	padding: 0 1.2em;
	margin: 0;
}

audio, canvas, code, iframe, img, svg, video {
	vertical-align: middle;
	max-width: 100%;
	overflow: auto;
}

table {
	border-collapse: collapse;
}

ul, ol, dd {
	padding-left: 2.5em;
}

#navbar_toggle {
	display: none;
}

header {
	display: contents;
}

// TODO: Fix cursor for navbar open/close, simplify underlying HTML
@mixin sticky-mobile-navbar {
	nav {
		display: block;
		position: sticky;
		top: 0;
		padding: 0;
		span {
			display: block;
		}
		[href$="void(0)"] {
			display: unset;
		}
	}
	#navbar_toggle:not(:checked) ~ nav { 
		label::before {
			content: "☰";
		}
		:first-child {
			display: inline-block;
		}
		:not(:first-child) span {
			display: none!important;
		}
		label {
			float: right;
			padding: 1em;
		}
	}
	#navbar_toggle:checked ~ nav label span::after {
		content: "Close menu ✖";
	}
}

@mixin desktop-navbar($display) {
	[href$="void(0)"] {
		display: none;
	}
	span {
		padding: 1em;
		display: $display;
	}
}

@if $katwebsite_nav_style == 0 {
	nav {
		padding: 0 2em;

		a {
			padding-top: 1.25em;
			display: inline-block;
		}

		:first-child[href="#"], [href$="void(0)"] {
			display: none;
		}
		
		:not(:first-child):not([href="#"]) {
			display: none;
			text-decoration: none;
		}

		[href="#"]::before {
			content: '›';
			padding: 0 0.2em;
		}
	}
} @else if $katwebsite_nav_style == 1 {
	nav {
		display: grid;
		grid: auto / 1fr repeat(16, auto);

		@include desktop-navbar(inline-block);
	}

	@media screen and (max-width: $mobile-width) {
		@include sticky-mobile-navbar;
	}
} @else if $katwebsite_nav_style == 2 {
	article {
		margin-left: $navbar-width;
	}
	nav {
		position: fixed;
		width: $navbar-width;
		height: 100%;

		@include desktop-navbar(block);
	}

	@media screen and (max-width: $mobile-width) {
		article {
			margin-left: unset;
		}
		@include sticky-mobile-navbar;

		#navbar_toggle:not(:checked) ~ nav {
			width: unset;
		}
		#navbar_toggle:checked ~ nav {
			position: fixed;
			[href$="void(0)"] div {
				position: fixed;
				left: $navbar-width;
				top: 0px;
				height: 100%;
				width: 100%;
				background-color: black;
				opacity: 0.5;
			}
		}
	}
} @else {
	nav [href$="void(0)"] {
		display: none;
	}
}
