<input type=checkbox id=navbar_toggle><nav>
{%- for iter_page in site.pages -%}
{%- unless iter_page.path == "index.html" -%}{%- continue -%}{%- endunless -%}
{%- if page.path == "index.html" -%}
<a href=#><span>
{%- else -%}
<a href=index.html><span>
{%- endif -%}
{%- if iter_page.data.site_name -%}
{{ iter_page.data.site_name }}
{%- elsif iter_page.data.title -%}
{{ iter_page.data.title }}
{%- else -%}
Home
{%- endif -%}
</span></a>
{%- endfor -%}
<a href=javascript:void(0)><label for=navbar_toggle aria-label="Toggle main menu"><div></div><span></span></label></a>
{%- assign pages = site.pages | sort: "path" -%}
{%- for iter_page in pages -%}
{%- assign pathstub = iter_page.path | split:"." -%}
{%- unless pathstub contains "html" -%}{%- continue -%}{%- endunless-%}
{%- if iter_page.path == "index.html" -%}{%- continue -%}{%- endif -%}
{%- if iter_page.path == page.path -%}
<a href=#><span>
{%- else -%}
<a href="{{ iter_page.path | url_encode }}"><span>
{%- endif -%}
{%- if iter_page.data.title -%}
{{ iter_page.data.title }}
{%- else -%}
{{ iter_page.path }}
{%- endif -%}
</span></a>
{%- endfor -%}
</nav>
{%- comment -%}{%- endcomment -%}
