---
layout = ""
---

$mobile_width: 50em;
$navbar_width: 16em;
$katwebsite_nav_style: 0;

// todo: add support for navbar links to custom destinations
// todo: add navbar category support

{% include "katwebsite_theme_base" %} // note: this will automatically pull in modern_normalize.scss

body {
	font: 16px/1.6 sans-serif;
}

code {
	background: #eee;
}

td, th {
	border: .15em solid;
	padding: .4em;
}

a {
	text-decoration: none;
}

nav {
	[href="#"] {
		color: #000;
	}
	a:not([href="#"]) span:hover {
		text-decoration: underline;
	}
}

article a:hover {
	text-decoration: underline;
}


blockquote {
	border-left: .3em solid;
}

hr {
	border: 0.1em solid #333;
}

::selection {
	background: #08f6;
	text-shadow: none;
}

:focus {
	color: #f04;
	outline-width: 0;
}

@if $katwebsite_nav_style == 1 or $katwebsite_nav_style == 2 {
	nav {
		background: #ddd;
		span {
			background: #eee;
		}
	}
} @else if $katwebsite_nav_style == -1 { // make "list" of navbar items when a katwebsite navbar style is not being used
	header {
		display: block;
		padding: 1.25em 2em 0;
	}
	nav {
		list-style-type: disc;
		padding-left: 2.5em;
		a {
			display: list-item;
		}
		[href="#"] {
			color: #000;
		}
	}
}
